# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
.env

# VSCode
.vscode/
*.code-workspace

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

#pyinstaller
*.spec

#text
*.txt

#signal files
*.cs8

#spectrum cache files
*.npz